[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
python-dotenv = "*"
requests = "*"
pymongo = {extras = ["srv"], version = "*"}
ipykernel = "*"
schedule = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
